body {
  font-family: Arial, sans-serif;
  background: #e0e0e0;
  color: black;
  text-align: center;
  margin-top: 50px;
}

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #228B22;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.checkbox-card {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  border-radius: 12px;
  background-color: #1e1e1e;
  border: 1px solid #333;

  width: fit-content;
  cursor: pointer;
}

.checkbox-card:hover {
  background-color: #2a2a2a;
}

.check-text {
  color: white;
  font-size: 14px;
}
